tienda/tienda_plugin_shipping_dhl/shipping_dhl/dhl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://producers.dhl.xtee.riik.ee/producer/dhl" xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.sk.ee/DigiDoc/v1.3.0#" xmlns:ns2="http://www.riik.ee/schemas/dhl" xmlns:ns4="http://www.w3.org/1999/xlink" xmlns:ns5="http://www.w3.org/2001/XMLSchema" xmlns:ns6="http://www.riik.ee/schemas/dhl-meta-manual" xmlns:ns7="http://www.riik.ee/schemas/dhl-meta-automatic" targetNamespace="http://producers.dhl.xtee.riik.ee/producer/dhl" name="dhlDefinitions">
	<types>
		<schema targetNamespace="http://producers.dhl.xtee.riik.ee/producer/dhl" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://producers.dhl.xtee.riik.ee/producer/dhl" xmlns:dhlma="http://www.riik.ee/schemas/dhl-meta-automatic" xmlns:dhl="http://www.riik.ee/schemas/dhl" xmlns:dd="http://www.sk.ee/DigiDoc/v1.3.0#">
			<import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>
            <import namespace="http://www.sk.ee/DigiDoc/v1.3.0#" schemaLocation="http://www.riik.ee/schemas/dhl/DigiDoc-1.3.xsd"/>
            <import namespace="http://www.riik.ee/schemas/dhl" schemaLocation="http://www.riik.ee/schemas/dhl/dhl.xsd"/>
            <import namespace="http://www.riik.ee/schemas/dhl-meta-automatic" schemaLocation="http://www.riik.ee/schemas/dhl/dhl-meta-automatic.xsd"/>
			<complexType name="institutionRefsArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="asutus" type="string" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Asutuse registrinumber</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="sendingOptionArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="saatmisviis" type="string" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Saatmisviis</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
            <complexType name="institutionType">
				<sequence>
					<element name="regnr" type="string"/>
					<element name="nimi" type="string"/>
                    <element name="saatmine" type="tns:sendingOptionArrayType"/>
				</sequence>
			</complexType>
            <complexType name="institutionArrayType">
                <complexContent>
                    <restriction base="SOAP-ENC:Array">
                        <sequence>
                            <element name="asutus" type="tns:institutionType" maxOccurs="unbounded">
                                <annotation>
                                    <appinfo>
                                        <xtee:title>Asutuse andmed</xtee:title>
                                    </appinfo>
                                </annotation>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="documentRefsArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="dhl_id" type="dhlma:dhlDokIDType" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Dokumendi dhl_id</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="documentsArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="dokument" type="dhl:dhlDokumentType" minOccurs="0" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Dokument</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
            <complexType name="tagasisideArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="item" type="dhl:tagasisideType" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Adressaadipoolne tagasiside dokumendi vastuvõtmise kohta</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="receiveDocumentsRequestType">
				<sequence>
					<element name="arv" type="integer" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Maksimaalne tagastatav kirjete arv, vaikimisi 10</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Kaust, kust dokumentid loetakse</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="receiveDocumentsResponseType">
				<simpleContent>
					<extension base="base64Binary"/>
				</simpleContent>
			</complexType>
			<complexType name="markDocumentsReceivedRequestType">
				<sequence>
					<element name="dokumendid" type="base64Binary"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="markDocumentsReceivedRequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:documentRefsArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="markDocumentsReceivedV2RequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:tagasisideArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<simpleType name="markDocumentsReceivedResponseType">
				<restriction base="string"/>
			</simpleType>
			<complexType name="sendDocumentsRequestType">
				<sequence>
					<element name="dokumendid" type="base64Binary"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="sendDocumentsRequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:documentsArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="sendDocumentsResponseType">
				<simpleContent>
					<extension base="base64Binary"/>
				</simpleContent>
			</complexType>
			<complexType name="sendDocumentsResponseTypeUnencoded">
				<complexContent>
					<extension base="tns:documentRefsArrayType"/>
				</complexContent>
			</complexType>
			<complexType name="getSendStatusRequestType">
				<simpleContent>
					<extension base="base64Binary"/>
				</simpleContent>
			</complexType>
			<complexType name="getSendStatusRequestTypeUnencoded">
				<complexContent>
					<extension base="tns:documentRefsArrayType"/>
				</complexContent>
			</complexType>
			<complexType name="getSendStatusResponseType">
				<simpleContent>
					<extension base="base64Binary"/>
				</simpleContent>
			</complexType>
			<complexType name="getSendStatusResponseTypeUnencoded">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="item" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element ref="dhlma:dhl_id"/>
										<element ref="dhl:edastus" minOccurs="0" maxOccurs="unbounded"/>
										<element name="olek" type="string"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="receiveDocumentsResponseTypeUnencoded">
				<complexContent>
					<extension base="tns:documentsArrayType"/>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="getSendingOptions">
		<part name="keha" type="tns:institutionRefsArrayType"/>
	</message>
	<message name="getSendingOptionsResponse">
		<part name="paring" type="tns:institutionRefsArrayType"/>
		<part name="keha" type="tns:institutionArrayType"/>
	</message>
	<message name="receiveDocuments">
		<part name="keha" type="tns:receiveDocumentsRequestType"/>
	</message>
	<message name="receiveDocumentsResponse">
		<part name="paring" type="tns:receiveDocumentsRequestType"/>
		<part name="keha" type="tns:receiveDocumentsResponseType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="pais">
		<part name="asutus" element="xtee:asutus"/>
		<part name="andmekogu" element="xtee:andmekogu"/>
		<part name="ametnik" element="xtee:ametnik"/>
		<part name="id" element="xtee:id"/>
		<part name="nimi" element="xtee:nimi"/>
		<part name="toimik" element="xtee:toimik"/>
	</message>
	<message name="sendDocuments">
		<part name="keha" type="tns:sendDocumentsRequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="sendDocumentsResponse">
		<part name="paring" type="tns:sendDocumentsRequestType"/>
		<part name="keha" type="tns:sendDocumentsResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<message name="markDocumentsReceived">
		<part name="keha" type="tns:markDocumentsReceivedRequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="markDocumentsReceivedResponse">
		<part name="paring" type="tns:markDocumentsReceivedRequestType"/>
		<part name="keha" type="tns:markDocumentsReceivedResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<message name="markDocumentsReceivedV2">
		<part name="keha" type="tns:markDocumentsReceivedRequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="markDocumentsReceivedV2Response">
		<part name="paring" type="tns:markDocumentsReceivedRequestType"/>
		<part name="keha" type="tns:markDocumentsReceivedResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<message name="getSendStatus">
		<part name="keha" type="tns:getSendStatusRequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="getSendStatusResponse">
		<part name="paring" type="tns:getSendStatusRequestType"/>
		<part name="keha" type="tns:getSendStatusResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<portType name="dhlPortType">
        <operation name="getSendingOptions">
            <documentation>
                <xtee:title>Asutuste saatmisviisid</xtee:title>
                <xtee:notes>Asutste toetatavate saatmisviiside loetelu</xtee:notes>
            </documentation>
            <input message="tns:getSendingOptions"/>
            <output message="tns:getSendingOptionsResponse"/>
        </operation>
        <operation name="sendDocuments">
			<documentation>
				<xtee:title>Dokumentide edastamine</xtee:title>
				<xtee:notes>Dokumentide edastamine dokumendihoidlasse</xtee:notes>
			</documentation>
			<input message="tns:sendDocuments"/>
			<output message="tns:sendDocumentsResponse"/>
		</operation>
		<operation name="receiveDocuments">
			<documentation>
				<xtee:title>Uute dokumentide lugemine</xtee:title>
				<xtee:notes>Uute veel lugemata saabunud dokumentide allalaadimine dokumendihoidlast</xtee:notes>
			</documentation>
			<input message="tns:receiveDocuments"/>
			<output message="tns:receiveDocumentsResponse"/>
		</operation>
		<operation name="markDocumentsReceived">
			<documentation>
				<xtee:title>Uute dokumentide loetuks märkimine</xtee:title>
				<xtee:notes>Uute saabunud dokumentide loetuks märkimine</xtee:notes>
			</documentation>
			<input name="markDocumentsReceived" message="tns:markDocumentsReceived"/>
			<output name="markDocumentsReceivedResponse" message="tns:markDocumentsReceivedResponse"/>
		</operation>
		<operation name="markDocumentsReceived">
			<documentation>
				<xtee:title>Uute dokumentide loetuks märkimine</xtee:title>
				<xtee:notes>Uute saabunud dokumentide loetuks märkimine</xtee:notes>
			</documentation>
			<input name="markDocumentsReceivedV2" message="tns:markDocumentsReceivedV2"/>
			<output name="markDocumentsReceivedV2Response" message="tns:markDocumentsReceivedV2Response"/>
		</operation>
		<operation name="getSendStatus">
            <documentation>
                <xtee:title>Saadetud dokumentide oleku kontrollimine</xtee:title>
                <xtee:notes>Kontrollib, kas saadetud dokumendid on kõigile adressaatidele edukalt edastatud</xtee:notes>
            </documentation>
			<input message="tns:getSendStatus"/>
			<output message="tns:getSendStatusResponse"/>
		</operation>
	</portType>
	<binding name="dhlSoapBinding" type="tns:dhlPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getSendingOptions">
			<xtee:version>v1</xtee:version>
			<soap:operation style="rpc"/>
			<input>
		        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
		        <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
		        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
        <operation name="sendDocuments">
			<xtee:version>v1</xtee:version>
			<soap:operation style="rpc"/>
			<input>
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output>
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                        <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p2" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="receiveDocuments">
			<xtee:version>v1</xtee:version>
			<soap:operation style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                        <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="markDocumentsReceived">
			<xtee:version>v1</xtee:version>
			<soap:operation style="rpc"/>
			<input name="markDocumentsReceivedResponse">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                        <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="markDocumentsReceivedResponse">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="markDocumentsReceived">
			<xtee:version>v2</xtee:version>
			<soap:operation style="rpc"/>
			<input name="markDocumentsReceivedV2">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                        <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="markDocumentsReceivedV2Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="getSendStatus">
            <xtee:version>v1</xtee:version>
			<soap:operation style="rpc"/>
			<input>
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                        <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output>
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
                        <soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                        <soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
	</binding>
	<service name="dhlService">
		<port name="dhlHttpSoapPort" binding="tns:dhlSoapBinding">
			<soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
			<xtee:title>Dokumendihoidla</xtee:title>
            <xtee:title xml:lang="en">Document repository</xtee:title>
            <xtee:address producer="dhl"/>
		</port>
	</service>
</definitions>